---
import BaseLayout from '@/layouts/base-layout.astro';
---

<style>
	@reference '@/styles/global.css';

	a {
		@apply text-muted-foreground border-b border-dashed border-current transition-colors duration-200;
	}
	a:hover {
		@apply border-b-2 border-solid;
	}
</style>

<BaseLayout title="Home">
	<div class="container mx-auto max-w-3xl py-16 text-justify">
		<h1 class="font-heading text-4xl font-bold tracking-tight">Email Campaign Manager Concept for IFF.</h1>
		<p class="text-muted-foreground mt-6 text-lg">
			I sent an email to the <b>Internet Freedom Foundation (IFF)</b> team, with the subject <i
				>"I WANT TO VOLUNTEER AND I DON'T WANT MONEY"</i
			>. I might have come off a little too strong there, but that's how passionate I am about their work.
		</p>
		<p class="text-muted-foreground mt-6 text-lg">
			Recently, they started an email campaign with a template body that people could send to MeitY, regarding
			their <a
				href="https://internetfreedom.in/iffs-comments-on-the-meitys-proposed-amendments-to-the-2021-it-rules/"
				target="_blank"
				>2026 Draft Amendments to the IT Rules</a
			>. I'm sure this isn't the first time they have had to launch an email campaign like this, and it
			(sadly) might not be the last.
		</p>
		<p class="text-muted-foreground mt-6 text-lg">
			The campaign version they made this time was a <a
				href="https://v0.dev"
				target="_blank"
				>Vercel v0</a
			> Application that seemed to be made in a hurry; it was made for the sole purpose of sending this specific
			email, but the design made it look sketchy. That feeling got stronger when this non-branded website tried
			to open an app on my phone.
		</p>
		<p class="text-muted-foreground mt-6 text-lg">
			This campaign manager exists for that reason. I want them to be able to spend as little time as possible
			worrying about the technical aspects of their work, and instead do what they do best; protect our
			freedom of digital speech.
		</p>
		<p class="text-muted-foreground mt-6 text-lg">
			A template campaign exists <a href="/campaigns/meity-draft-proposal-of-it-rules-second-amendment-2026"
				>here</a
			>, and the admin portal can be accessed <a href="/admin/campaigns">here</a>. Peace.
		</p>
	</div>
</BaseLayout>
