---
const currentYear = new Date().getFullYear();
---

<footer class="w-full" style="background-color: rgb(23, 23, 23);">
  <div class="container mx-auto px-4 py-6">
    <div class="flex flex-col items-center justify-center">
      <p class="text-sm text-gray-400">
        © {currentYear} Internet Freedom Foundation. Concept by <a href="https://abhi.now" target="_blank" rel="noopener noreferrer" class="underline font-semibold hover:no-underline">Abhigyan Trips</a>.
      </p>
    </div>
  </div>
</footer>
